body {
   margin: auto;
   padding: 0%;
}

h1 {
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1500;
}

p {
   color: white;
}

.header-container {
   position: absolute;
   align-items: center;
   justify-content: center;
   display: flex;
   width: 1321px;
   height: 646px;
   top: 50px;
   left: 140px;
   background-color: #1E1E1E;
   border: 5px;
   border-radius: 10px;
   justify-content: 20px;



}